@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@Html.Action("Categories")
<br />
<br/>
@{ 
    var temp = Model.First();
}
<p>Категория товаров: @temp.CATEGORY.CATEGORY_NAME</p>
<p>Описание: @temp.CATEGORY.CATEGORY_DESCRIPTION</p>
<br/>
<p id="metka"></p>
<input type="button" value="Очистить корзину" onclick="clearCookie();" />
<h2>Товары</h2>

<script>
    function addCookie(productId)
    {

        var currentCookie = document.cookie;
        if (currentCookie == null) currentCookie = "";
        var cleanCookie = findCookieValue("order");       
       
        if (cleanCookie != "") {
            alert(cleanCookie);
            if (isExists = cleanCookie.indexOf(productId) == -1) {              
                cleanCookie = cleanCookie + productId + "&";
                document.cookie = "order=" + cleanCookie + ";";
                
            }
        }
        else {
            
            document.cookie = "order=" + productId + "&;";
        }

        var el = document.getElementById("metka");
        el.innerHTML = findCookieValue("order");
    }
    function clearCookie()
    {
        document.cookie = "order=";
    }
    function findCookieValue(cookieName) {
        var allcookies = document.cookie;
        var pos = allcookies.indexOf(cookieName + "="); // version=

        // Если cookie с указанным именем найден, извлечь его значения.
        if (pos != -1) {
            var start = pos + cookieName.length + 1;
            var end = allcookies.indexOf(";", start);

            if (end == -1) {
                end = allcookies.length;
            }

            var value = allcookies.substring(start, end);

            return decodeURIComponent(value);
        }
        else return "";
    }
</script>
@foreach(PRODUCT prd in Model)
{
    <img src="@prd.PRODUCT_PICTURE_ADDRESS" width="150" height="100"/>
    <p>Наименование: @prd.PRODUCT_NAME</p>
    <p>Описание: @prd.PRODUCT_DESCRIPTION</p>
    <p>Производитель: @prd.PRODUCTS_COUNTRY</p>
    <p>Стоимость: @prd.PRODUCT_PRICE</p>
    <input type="button" value="Добавить в корзину" onclick="addCookie(@Convert.ToString(prd.PRODUCT_ID.ToString()));"/>
    <br/>
    <br/>
}

