@model IEnumerable<PRODUCT>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@Html.Action("Categories")
<br />
<br/>
@{ 
    var temp = Model.First();
}
<h1>@temp.CATEGORY.CATEGORY_NAME</h1>
<p>Описание: @temp.CATEGORY.CATEGORY_DESCRIPTION</p>
@if (temp.CATEGORY.CATEGORY_PICTURE_ADDRESS != null)
{
    <img class="photo" src="@temp.CATEGORY.CATEGORY_PICTURE_ADDRESS"/>
}
<br/>
<h2 >Товары</h2>

<script>
    window.onload=function()
    {
    
        var mm = document.getElementsByClassName("adder");
        for (i=0;i<mm.length;i++)
        {
            
            mm[i].addEventListener("click", alertAdding);
        }

    }
    function alertAdding()
    {
        alert("Товар добавлен в список покупок");
    }
    function addCookie(productId)
    {

        var currentCookie = document.cookie;
        if (currentCookie == null) currentCookie = "";
        var cleanCookie = findCookieValue("order");       
       
        if (cleanCookie != "") {
            if (isExists = cleanCookie.indexOf(productId) == -1) {              
                cleanCookie = cleanCookie + productId + "&";
                document.cookie = "order=" + cleanCookie + ";";
                
            }
        }
        else {
            
            document.cookie = "order=" + productId + "&;";
        }

    }
    function clearCookie()
    {
        document.cookie = "order=";
    }
    function findCookieValue(cookieName) {
        var allcookies = document.cookie;
        var pos = allcookies.indexOf(cookieName + "="); // version=

        // Если cookie с указанным именем найден, извлечь его значения.
        if (pos != -1) {
            var start = pos + cookieName.length + 1;
            var end = allcookies.indexOf(";", start);

            if (end == -1) {
                end = allcookies.length;
            }

            var value = allcookies.substring(start, end);

            return decodeURIComponent(value);
        }
        else return "";
    }
</script>
@foreach(PRODUCT prd in Model)
{
    <h3 class="headers">@prd.PRODUCT_NAME</h3>
    <img class="photo" src="@prd.PRODUCT_PICTURE_ADDRESS"/>
    <p>Описание: @prd.PRODUCT_DESCRIPTION</p>
    <p>Производитель: @prd.PRODUCTS_COUNTRY</p>
    <p>Стоимость: @prd.PRODUCT_PRICE галеонов</p>
    <input class="adder" type="button" value="Заказать" onclick="addCookie(@Convert.ToString(prd.PRODUCT_ID.ToString()));"/>
    <hr />
    <br/>
    <br/>
}

