<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <link rel="stylesheet" type="text/css" href="~/Content/mainstyle.css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="contentField">
       <div id="navCont">
         <div id="nav">
            <ul>
                
                <li>@Html.ActionLink("Каталог товаров", "Products", new { CategoryId = 1 })</li>
                <li>@Html.ActionLink("Список покупок", "Basket", "Shop")</li>
                <li>@Html.ActionLink("Описание магазина", "HomePage", "Shop")</li>
            </ul>
        </div>
       </div>
        <br />
        
        @RenderBody()
    </div>
</body>
</html>
